* { box-sizing: border-box; }

body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #202020;
    background: linear-gradient(to bottom, #2d2e2f 50%, #624a2e);
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

::-webkit-scrollbar {
    width: 6px;
    background: #212021;
}
::-webkit-scrollbar-thumb {
    background: #3f3f3f;
}

main {
    margin: 32px;
    border-radius: 6px;
    max-width: 1200px;
    border: 1px solid #3f3f3f;
    background: #212021;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);

    & > section {
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-height: 90vh;
        overflow-y: auto;
        border-radius: 0 0 6px 6px;
    }

    & > nav {
        display: flex;
        flex-direction: column;
        width: 256px;
        min-width: 256px;
        max-width: 256px;
        border-radius: 6px 0 0 6px;
        overflow: hidden;
        background: linear-gradient(to right, #1f1f1f, #2e2e2e);
        border-right: 1px solid #3f3f3f;

        & > ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            list-style: none;
            padding: 0;
            margin: 32px;

            & > li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & > a {
                    display: block;
                    text-decoration: none;
                    color: #fffcf0;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    padding: 8px 12px;
                    border-radius: 5px;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 32px;

                    &.active {
                        background: #2f2f2f;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
                    }

                    &:hover {
                        background: #3a3a3a;
                    }
                }

                & > ul {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;
                    list-style: none;
                    margin: 8px 0 16px 32px;
                    padding: 0;

                    & > li {
                        padding: 0;
                        margin: 0;

                        & > a {
                            color: #d0d0d0;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: none;
                            text-decoration: none;
                            letter-spacing: 0;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 16px;
    text-shadow: 1px 1px 2px #000;
    color: #d0d0d0;
    border-bottom: 1px dashed #3a3a3a;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0 0 0;
    text-shadow: 1px 1px 2px #000;
    color: #d0d0d0;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0 0 0;
    text-shadow: 1px 1px 2px #000;
    color: #d0d0d0;
}

p {
    margin: 0;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: #d0d0d0;
    clear: both;

    & > img.float-right {
        float: right;
        width: 50%;
        padding: 4px;
        margin: 0 8px 8px;
        background: #9a9088;
        border-radius: 6px;
        border: 1px solid #4f4f4f;
    }

    & > code {
        display: inline-block;
        padding: 0 4px;
        font-family: monospace;
        font-size: 14px;
        color: #fae8c8;
        background: #2f2f2f;
    }

    &.faq {
        font-size: 13px;

        strong {
            display: inline-block;
            font-size: 16px;
            margin-top: 8px;
        }
    }

    a {
        text-decoration: none;
        color: #aab0ff;
        &:hover {
            text-decoration: underline;
        }
    }
}
ul.list {
    margin: 0 0 0 42px;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #d0d0d0;
    gap: 8px;
}
@media (max-height: 600px) {
    main {
        margin: 0;
        & > nav {
            overflow-y: auto;
            max-height: 100vh;
            border-radius: 0;
        }

        & > section {
            max-height: 100vh;
            overflow-y: auto;
            border-radius: 0;
        }
    }
}
